<ion-header>
  <ion-toolbar>
    <ion-title>feed</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAlert()">
      <ion-icon  slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align:center">
    <h1 >
      Utilizando Api Rest
    </h1>
    </div>
    <ion-list>
    <ion-item-sliding *ngFor="let task of tasks; let index = i">
      <ion-item> 
        <ion-label>{{ task.title }} </ion-label>
        <ion-checkbox slot="start" [checked]="task.completed"></ion-checkbox>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteTask(task.id, index)" color="danger">
          <ion-icon name="trash">
          </ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
</ion-content>
